<footer>
    <div class="footer navbar-fixed-bottom" style='margin-left:15px'>
        <a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a>

            <div class="pull-right">
                    Made with <span class="glyphicon glyphicon-heart"></span> in NIE, Mysore |
                    ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        Web programming Project
    </div>
    <p></p>
</div>

</footer>
