{% extends "webapp/head.html" %}
{% block title %}Sold Items{% endblock %}
{% block content %}
{% if object_list %}
    <h3>Items Sold:</h3>
    <table class="table table-striped table-bordered ">
      <thead class="table thead-inverse">
        <tr  bgcolor="black">
          <th scope="col"><span style="color:white"><i>Sl No</i></span></th>
          <th scope="col"><span style="color:white"><i>Item Code</i></span></th>
          <th scope="col"><span style="color:white"><i>Date</i></span></th>
          <th scope="col"><span style="color:white"><i>Item Consume Qty</i></span></th>
          <th scope="col"><span style="color:white"><i>Item Consume Rate</i></span></th>
        </tr>
      </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td scope="row">{{ item.sl_no}}</td>
                <td scope="row"><a href="{% url 'webapp:details' item.item_code %}">{{ item.item_code}}</a></td>
                <td scope="row">{{ item.date_consum}}</td>
                <td scope="row">{{ item.item_consum_qty}}</td>
                <td scope="row">{{ item.item_consum_rate}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% else %}
    <h3>No Items Sold<h3>
{% endif %}
{% endblock %}
