{% extends "webapp/head.html" %}
{% block title %}Whouse{% endblock %}
{% block content %}
{% if object_list %}
    <h3>Ware house list:</h3>
    <table class="table table-striped table-bordered ">
      <thead class="table thead-inverse">
        <tr  bgcolor="black">
          <th scope="col"><span style="color:white"><i>Ware House Code</i></span></th>
          <th scope="col"><span style="color:white"><i>Ware House Name</i></span></th>
          <th scope="col"><span style="color:white"><i>Ware House Manager</i></span></th>
          <th scope="col"><span style="color:white"><i>Ware House Contact</i></span></th>
          <th scope="col"><span style="color:white"><i>Edit</i></span></th>
          <th scope="col"><span style="color:white"><i>Delete</i></span></th>
        </tr>
      </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td scope="row">{{ item.whouse_code}}</td>
                <td scope="row">{{ item.whouse_name}}</td>
                <td scope="row">{{ item.whouse_head_name}}</td>
                <td scope="row">{{ item.whouse_mobile}}</td>
                <td scope="row"><a href="{% url 'webapp:whouse-update' item.whouse_code %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td scope="row"><a href="{% url 'webapp:whouse-delete' item.whouse_code %}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% else %}
    <h3>No ware house registered<h3>
{% endif %}
{% endblock %}
