.help-button-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: center;
}
.help-button {
  height: 6em;
  width: 6em;
  font-size: 10px;
  border-radius: 50%;
  border: 0 none;
  background: #72AB59;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: all 200ms ease;
}
.help-button:hover,
.help-button:focus,
.help-button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}
.help-button span {
  display: block;
  font-size: 2em;
  transform: scale(1);
  transition: transform 100ms ease;
}
.help-button:hover span,
.expanded .help-button span,
.expanded .help-button span {
  transform: scale(1.25);
}
.expanded .help-button {
  transform: scale(.5);
  color: rgba(255,255,255,.5);
  background: #ffaa00;
}
.help-list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 200ms ease;
  transform: translate(0, 90px) scale(.5);
  transform-origin: bottom center;
  opacity: 0;
}
.expanded .help-list {
  transform: translate(0px,20px) scale(1);
  opacity: 1;
}
.help-list li {
  margin-bottom: 1em;
}
.help-list a {
  color: #212121;
}
