
.navbar-static-top {
  min-height: 0;
  height: 55px;
  padding: 5px 0;
  margin-bottom: 0;
}
.navbar-header{
  height: 35px;
  padding: 5px 0;
}

/* sidebar */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
/*    border: 2px solid red; */
    opacity: 0.9;
}

/* main area */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
/*    border: 5px solid green; */
}

/* change the width of sidebar to display*/
#wrapper.menuDispalyed #sidebar-wrapper{
    width: 250px;
    height: 100%;
}
/* to avoid over lapping of side bar*/
#wrapper.menuDispalyed #page-content-wrapper{
    padding-left: 250px;
}

/* side bar styling */
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent:  20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration:none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: : #16A085;
}
